%title-12 {
    font-size: 12rem;
    font-weight: 300;
    font-family: 'Silk Flower', arial;
}

%title-6_4 {
    font-size: 6.4rem;
    font-family: 'Glass Antiqua', arial;
}
%text-normal {
    line-height: 1.5;
}

