@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Silk Flower";
    src: url("../../fonts/Silk\ Flower.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }